@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="/" method="post" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Cadastro de Profissões da Loja.
                </span>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">Profissões</span></strong>
                    <input class="input100" type="text" name="name" placeholder="Digite a profissão que deseja cadastrar..." required>
                    <span class="focus-input100"></span>
                </div>

                <div>
                    <input type="submit" value="Continue"><br>

                </div>

                <div>
                    <input type="button" value="Voltar">
                </div>
            </form>
        </div>
    </div>
</body>