@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login.";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login.</title>
    <link href="~/css/AdmDesign.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <main class="container">

        <div class="text-center">
            <h2>Login ADM</h2>
        </div>
        <form action="/Home/Afonso" method="post">
            <div class="input-field">
                <input type="text" name="username" id="username"
                       placeholder="Usuario">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                       placeholder="Senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Continue" formaction="/Home/AdmCad">

        </form>
    </main>
</body>
</html>