@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link href="~/css/PreviewV.css" rel="stylesheet" type="text/css" />
   
    <title>Alert em Javascript</title>

    <script>
        function funcao() {
           
            alert("Finalizado");
        }
    </script>
</head>
<body>
    <main class="container">

        <div class="text-center">
            <h2>Pré-Visualização do seu V-Card.</h2>
        </div>
        <form action="" method="get" class="formulario-form">

            <label class="label">Nome:</label>
        <label class="dados">@ViewBag.name</label><br />
        <label class="label"> Telefone/Whatsapp: </label>
        <label class="dados">@ViewBag.telefone</label> <br />
        <label class="label"> Email: </label>
        <label class="dados"> @ViewBag.email</label> <br />
        <label class="label"> Serviços:</label>
        <label class="dados"> @ViewBag.Ramo</label>
            <input type="submit" value="Finalizar" onclick="funcao()" formaction="/Home/Visit" />


        </form>
    </main>
</body>
</html>