@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/Style.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
<body>
    <main class="container">
        <form action="" method="post">
            <div class="text-center">
                <h1>Seja Bem Vindo.</h1>
                <h4>Por favor escolha entre:</h4>
            </div>
            <fieldset >
                <input type="submit" value="Cadastrar seu Serviço.">
                <input type="submit" value="Encontrar um Serviço.">
            </fieldset>
           


        </form>
    </main>
</body>

