/*FONT===============================================================================*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[  ]*/
input {
    outline: none;
    border: none;
}



/*//////////////////////////////////////////////////////////////////
[ QUADRADRO BRANCO ]*/

.centralForm {
    width: auto;
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.shape {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px;
    box-shadow: 11px 13px 20px 0px #6a00b4a6;
}


/*------------------------------------------------------------------
[ Form ]*/

.form {
    width: 100%;
}

.form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}



/*------------------------------------------------------------------
[ LABELS ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    padding-left: 5px;
    position: absolute;
    top: -60%;
}
/*------------------------------------------------------------------
[ BOTÃO ]*/

.subs {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #5514F5,#1377D4, #21EBA7);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.8s ease;
}

    .subs:hover {
        transition: all 1.5s;
        letter-spacing: 5.0px;
        background: linear-gradient(to left,#21EBA7,#1377D4,#5514F5);
    }

/*------------------------------------------------------------------
[ Button Logout ]*/
.volta {
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: purple;
    transition: all 0.8s;
    font-size: 1.0rem;
}

    .volta:hover {
        transition: all 0.8s;
        color: #21EBA7;
        background: white;
    }




/*SELECT=====================================================================================*/
.nice-select {
    height: 23px; /* altura do select */
    line-height: 20px; /* este valor deve ser o mesmo acima */
    border: solid 1px #4272F5; /* cor da borda do select*/
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(to left, #5514f55e,#1377d46e, #21eba778);
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Poppins-Regular;
    font-size: 17px;
    font-weight: lighter;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: absolute;
    top: 10%;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

    .nice-select:hover {
        transition: all .8s;
        border-color: #6a00b4; /* cor da borda do select ao passar o mouse */
    }

    .nice-select:active, .nice-select.open, .nice-select:focus {
        transition: all .8s;
        border-color: #21EBA7; /* cor da borda quando o select estiver aberto */
    }

    .nice-select:after {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        content: '';
        display: block;
        height: 5px;
        margin-top: -4px;
        pointer-events: none;
        position: absolute;
        right: 12px;
        top: 50%;
        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 5px;
    }

    .nice-select.open:after {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .nice-select.disabled {
        border-color: #000;
        color: #999;
        pointer-events: none;
    }

        .nice-select.disabled:after {
            border-color: #000;
        }

    .nice-select.wide {
        width: 100%;
    }

        .nice-select.wide .list {
            left: 0 !important;
            right: 0 !important;
        }

    .nice-select.right {
        float: right;
    }

        .nice-select.right .list {
            left: auto;
            right: 0;
        }

    .nice-select.small {
        font-size: 12px;
        height: 36px;
        line-height: 34px;
    }

        .nice-select.small:after {
            height: 4px;
            width: 4px;
        }

        .nice-select.small .option {
            line-height: 34px;
            min-height: 34px;
        }

    .nice-select .list {
        background-color: #fff;
        box-shadow: inset 0px 0px 9px 0px #6a00b482; /* cor da borda dos options em RGB */
        box-sizing: border-box;
        margin-top: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 1.8s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;
    }

        .nice-select .list:hover .option:not(:hover) {
            background-color: transparent !important;
        }

    .nice-select .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 22px; /* altura das options */
        min-height: 22px; /* este valor deve ser o mesmo do acima */
        list-style: none;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

        .nice-select .option:hover, .nice-select .option.focus {
            transition: all 1.8s;
            background: linear-gradient(to left, #5514f55e,#1377d46e, #21eba778); /* corde fundo da option selecionada e ao passar o mouse */
            color: black; /* cor da option ao passar o mouse e do item selecionado*/
            font-style: italic;
        }

        .nice-select .option.selected.focus {
            background: linear-gradient(45deg,#6a00b4,#1377D4, #21EBA7);
        }

        /* .nice-select .option.selected {
            font-weight: bold;
        }*/

        .nice-select .option.disabled {
            background-color: transparent;
            color: #000;
            cursor: default;
        }

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}
