@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
</head>
<body>
    @{
        string a = "nome | CPF | IDADE";
        int b  = 4551;
        <button>@b @a</button>



    }

    <main class="container">

        <div class="text-center">
            <h2>V-Card.</h2>
        </div>
        <form action="" method="get" class="formulario-form">

            <div class="input-field">
                <label> Você é Administrador ou Visitante? </label>
                <div>
                    <label>
                        <br />
                        <input type="radio" name="adm" value="Administrador" checked />
                        Administador.
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="visit" value="Visitante" />
                        Visitante.
                    </label>
                </div>
            </div>
            <input type="submit" value="Continue"> <br />

        </form>
    </main>
</body>
</html>
