@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
</head>
<body>
    <main class="container">

        <div class="text-center">
            <h2>V-Card.</h2>
        </div>
        @{string vaiPara = ""; }
        <form action=@vaiPara method="get" class="formulario-form">

            <div class="input-field">
                <label> Você é Administrador ou Visitante? </label>
            </div>
            <input type="submit" value="Continue"> 
            <input type="submit" value="Bora"> <br />
                


        </form>
    </main>
</body>
</html>
