@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cadastro";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <link href="~/css/CadPj.css" rel="stylesheet" type="text/css" />

    <script>
        function formatar(mascara, documento) {
            var i = documento.value.length;
            var saida = mascara.substring(0, 1);
            var texto = mascara.substring(i)

            if (texto.substring(0, 1) != saida) {
                documento.value += texto.substring(0, 1);
            }

        }
    </script>
</head>
<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="/" method="post" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Cadastro.
                </span>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">Nome</span></strong>
                    <input class="input100" type="text" name="name" placeholder="Digite o seu nome...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Validação é Obrigatório: ex@abc.xyz">
                    <strong><span class="label-input100">Email</span></strong>
                    <input class="input100" type="email" name="email" placeholder="Digite o seu email...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">CNPJ</span></strong>
                    <input class="input100" type="text" name="cnpj" placeholder="Digite o seu CNPJ..." maxlength="18" OnKeyPress="formatar('##.###.###/####-##', this)" >
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">Data de Fundação</span></strong>
                    <input class="input100" type="date" name="datanascimento" placeholder="Digite a Data de Fundação..." >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong> <span class="label-input100">Número de Telefone</span></strong>
                    <td height="24"></td>
                    <input class="input100" type="text" name="telefone" placeholder="Digite seu Telefone..." maxlength="13" OnKeyPress="formatar('##-#####-####', this)" >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong> <span class="label-input100">CEP</span></strong>
                    <td height="24"></td>
                    <input class="input100" type="text" name="cep" placeholder="Digite o seu CEP..." maxlength="9" OnKeyPress="formatar('#####-###', this)" >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">Cidade</span></strong>
                    <input class="input100" type="text" name="cidade" placeholder="Cidade..." >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong><span class="label-input100">Endereço</span></strong>
                    <input class="input100" type="text" name="endereco" placeholder="Rua..." >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Obrigatório">
                    <strong> <span class="label-input100">Bairro</span></strong>
                    <input class="input100" type="text" name="bairro" placeholder="Bairro...">
                    <span class="focus-input100"></span>
                </div>
                    <input type="submit" value="Continue" formaction="/Home/CadProfPj"><br>
                    <input type="submit" class="volta" value="Voltar" formaction="/Home/OpCad">
            </form>
        </div>
    </div>
</body>
</html>