@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <link href="~/css/Profissoes.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="corpo">
        <div class="corpo-form">
            <form method="post" class="form">
                <div class="titulo-form">
                    <strong>Serviços em Destaque</strong>
                </div><br>

                <div class="btn" id="btn">
                    <button class="btnTeste">Eletrecista</button>
                    <button class="btnTeste">Pintor</button>
                    <button class="btnTeste">Carpinteiro</button> <br><br /><br />

                    <button class="btnTeste">Encanador</button>
                    <button class="btnTeste">Arquiteto</button>
                    <button class="btnTeste">Pedreiro</button>
                </div><br><br><br>


            </form>
            <div class="btnSec">
                <button class="btnSub" id="btnSub1" name="btnSub">Barbearia</button>
                <button class="btnSub" id="btnSub2" name="btnSub">Restaurante</button>
                <button class="btnSub" id="btnSub3" name="btnSub">Mecânica</button>


                <button class="btnSub" id="btnSub4" name="btnSub">Parque Aquático</button>
                <button class="btnSub" id="btnSub5" name="btnSub">Tatuador</button>
                <button class="btnSub" id="btnSub6" name="btnSub">Floricultura</button><br>

                <button class="btnSub" onclick="mostrar();">←</button>
                <button class="btnSub" onclick="esconder();">→</button>
            </div>


        </div>
    </div>

</body>
</html>